.bot {
    display: inline-block;
    padding: 8px 16px;
    border-radius: 4px;
    background-color: #e88460;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.3);
    margin-top: 10px;
  }

  .bot:hover {
    background-color: white;
    color: #e88460;
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
  }
  
  